.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.auth-container {
  background-color: #1f255a;
}

.selected-menu {
  background-color: #1223c1;
  color: white;
  padding: 11px;
  border-radius: 10px;
}

.main-container {
  height: 100px;
  color: white;
  margin-top: 75px;
  text-align: center;
}

.bottom-80 {
  bottom: 80px;
}

.body-container {
  background-color: #edf2fc;
  min-height: 750px;
  border-radius: 30px 30px 0px 0px;
  margin-bottom: 70px;
}

.chat-container {
  background-color: #edf2fc;
  margin-top: 55px;
  height: 90vh;
}

.chat-head {
  margin-bottom: 2px;
}

.chat-head span {
  color: #f7e43a;
  border-radius: 5px;
  font-size: 9px;
}

.chat-box {
  height: calc(100vh - 210px);
  padding-top: 20px;
  overflow-y: auto;
}

.chat-bubble {
  max-width: 75%;
  margin-bottom: 10px;
  border-radius: 10px 3px 15px 10px;
  padding: 5px 10px;
  font-size: 13px;
  box-shadow: 0px 0px 3px 0px #2f47cf8a;
}

.center-div-loader {
  padding: 35vh 30%;
}

.chat-bubble.right {
  float: right;
  background-color: white;
  color: black;
}

.chat-bubble.left {
  float: left;
  background-color: #00074dbf;
  color: white;
}

.chat-date {
  font-size: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.page-header {
  margin: 10px 29px;
  padding: 20px;
  background-color: #ffffff0f;
  border-radius: 22px;
}

.my-inbuilt-card {
  padding: 20px;
  border-radius: 23px;
  /* background-color: white;
  border: 2px solid white; */
}

.my-card {
  background-color: white;
  padding: 20px;
  border-radius: 23px;
  box-shadow: 0px 5px 20px 0px #00000030;
}

.btn-my-color {
  background-color: #1223c1;
  color: white;
}

.title-color {
  color: #1223c1;
}

.scrollable-ul {
  max-height: 300px;
  margin-bottom: 10px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 3px;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.051);
}
 
::-webkit-scrollbar-thumb {
  background-color: rgb(77, 48, 194);
  outline: 1px solid slategrey;
}

tr.total-tr td {
  font-weight: 500;
  border-top: 3px double black;
}

.cutom-tag {
  padding-left: 10px;
  border: 1px solid #0dcaf0;
  margin-right: 5px;
  border-radius: 13px;
  background-color: #0dcaf045;
  color: #050a3f;
  font-size: 12px;
}

.cutom-tag svg {
  padding: 5px 5px;
    /* margin-left: 7px; */
    font-size: 12px;
    vertical-align: middle;
}

.cutom-tag svg:hover {
  background-color: white;
  border-radius: 10px;
}

.cutom-tag-add {
  padding: 3px 10px;
    border: 1px solid #0dcaf0;
    margin-right: 5px;
    border-radius: 13px;
    background-color: #0dcaf0;
    color: #050a3f;
    font-size: 13px;
}


tbody.tr-right-border tr td:nth-child(1) {
  font-size: small;
  text-align: center;
  vertical-align: middle;
}

tbody.tr-right-border tr td:nth-child(1) {
  width: 20%;
}

tbody.tr-right-border tr td:nth-child(2) {
  width: 40%;
}

tbody.tr-right-border tr td:nth-child(3) {
  width: 40%;
  text-align: right;
  padding-right: 5%;
}

.pr-10 {
  padding-right: 10px;
}